---
// Define type for human opinions
import { bigint } from "astro:schema";
import {
  sqlDescription, pythonDescription, javaScriptDescription, GCPDescription
} from "../../data/skillsText.json.ts";

enum skillLevel {
  BEGINNER = 1,
  INTERMEDIATE = 2,
  ADVANCED = 3,
  EXPERT = 4, 
}
type Skill = {
  name: string;
  level: skillLevel;
  description: string;
  yoe: number;
  style?: string;
}

// Define testimonials/opinions data
const baseSkills: Skill[] = [
  {
    name: "Python",
    level: skillLevel.EXPERT,
    description: pythonDescription.text,
    yoe: 8
  },
  {
    name: "SQL",
    level: skillLevel.EXPERT,
    description: sqlDescription.text,
    yoe: 8
  },
  {
    name: "Javascript + Typescript",
    level: skillLevel.ADVANCED,
    description: javaScriptDescription.text,
    yoe: 5
  },
  {
    name: "Google Cloud Platform",
    level: skillLevel.EXPERT,
    description: GCPDescription.text,
    yoe: 5
  },
  {
    name: "AWS",
    level: skillLevel.ADVANCED,
    description: "Highly typed, and powerful.",
    yoe: 4
  },
  {
    name: "Front End Frameworks",
    level: skillLevel.INTERMEDIATE,
    description: "Highly typed, and powerful.",
    yoe: 4
  },
]

const skills : Skill[] = baseSkills.map((skill) => {
  return {
    name: skill.name,
    level: skill.level,
    description: skill.description,
    style: `col-span-${skill.level}  bg-secondary rounded-full h-4`,
    yoe: skill.yoe
  }
})
---
<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span>Technologies</span>
        <span class="font-bold"> / Skills</span>
      </h3>
      <div class="h-1.5 bg-secondary"></div>
    </div>
    
    <div class="grid flex overflow-scroll grid-cols-1 text-secondary gap-6 pt-2 mt-2">
      {
        skills.sort((a,b) =>  b.level - a.level).map((skill) => (
          <div class={`group hover:border-b-2 hover:border-t-2 hover:border-secondary p-6 `} data-aos="fade-up" data-aos-duration="2000">
            <p class=" italic text-2xl block font-bold">
              {skill.name}
            </p>
            <div class="grid grid-cols-4">
                <div class=" grid grid-cols-4 col-span-2">
                  <span class={skill.style}></span>
                </div>                  
                <div class="col-span-4 select-none text-left absolute group-hover:relative transition duration-1000  opacity-0 group-hover:opacity-100 opacity-0 ">              
                  <p> {skill.yoe} Years of Experience </p>
                  <p>{skill.description}</p>
                </div>
            </div>
         </div>
        ))
      }
      </div>
    </div>
  </div>
</section>
