---
import data from "../../data/spotify/top_tracks.json" assert { type: "json" };
---
<section class="bg-spotify-dark">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">  
  <div class="space-y-2">        
      <div
          class="h-0.5 bg-spotify-dark"
          data-aos="fade-up"
          data-aos-duration="1000"
        >
        </div>
    <div class="bg-spotify-dark px-8 2xl:max-w-7xl py-6">
    <h1 class="text-spotify text-base font-bold p-6"> Top Tracks </h1>
    <div id="embed-iframe"></div>
    <div>
    
    <ul class="tracks lg:grid p-3 lg:grid-cols-2 overflow-y-auto max-h-96">
      {data.items.map(track => (
        <button class="track truncate rounded" data-spotify-id={track.uri}>
        <li class="lg:grid p-5 rounded-3xl hover:bg-spotify/20" data-spotify-id={track.id}>
          <img class="lg:w-24 lg:h-24 w-16 h-16" src={track.album.images[0].url} />
          <p class="text-spotify text-left lg:block hidden lg:col-start-2 text-sm font-semibold">{track.artists[0].name} <br> {track.name}</p>
        </li>
      </button>
      ))}
    </ul>
  </div>
</div> 
<script>
  setTimeout(() => {
window.onSpotifyIframeApiReady = (IFrameAPI) => {

  const element = document.getElementById('embed-iframe');
  const options = {
    uri: 'spotify:track:6zjSct3GalQsgyDIYeQ28f',
    };
  const callback = (EmbedController) => {
    document.querySelectorAll('.track').forEach(
    track => {
      track.addEventListener('click', () => {
       EmbedController.loadUri(track.dataset.spotifyId)
      });
    })
  };
  IFrameAPI.createController(element, options, callback);
}
});
</script>
  </div>
  </div>
</section>